@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #2e8b57;
  --color-light: #fafafa;
  --color-dark: #212121;
  --transition: all 0.3s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
  background-color: var(--color-light);
  color: var(--color-light);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  border-radius: 10px;
  background-color: var(--color-dark);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.wrapper {
  max-width: 60vw;
  margin: 10% auto;
  padding: 2rem;
  background-color: var(--color-dark);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.btn {
  font-family: inherit;
  color: var(--color-dark);
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: 600;
  border-radius: 2px;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-light) !important;
}

.form {
  background-color: var(--color-primary);
  color: var(--color-dark);
  font-weight: 600;
  border-radius: 2px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  align-self: flex-start;
  cursor: pointer;
}

input {
  font-family: inherit;
  font-size: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.form-checkbox {
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.btn-submit {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.btn-submit:hover {
  color: var(--color-dark);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task {
  background-color: #333;
  padding: 2rem;
  border-radius: 2px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid var(--color-primary);
}

.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.task-day {
  font-size: 1.5rem;
  opacity: 0.6;
  padding-top: 0.5rem;
}

.tasks-fallback {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    max-width: 95vw;
  }
}
